@inject ILayoutServices layoutservice
@{
    IDictionary<string, string> settings = await layoutservice.GetSettings();
    IEnumerable<BasketVM> basketVMs = await layoutservice.GetBaskets();
}


<section>
    <div class="container">
        <div class="contact-us-page">
            <h1>CONTACT US</h1>
            <h4>SHADESDADDY.COM</h4>
            <p>530 Sawgrass Corporate Parkway</p>
            <p>Sunrise, FL 33325</p>
            
            <br>
            <p><b>PHONE:</b> <span>@Html.Raw(settings.FirstOrDefault(s=>s.Key == "Phone").Value)</span> </p>
            <p><b>SUPPORTPHONE:</b> <span>@Html.Raw(settings.FirstOrDefault(s=>s.Key == "SupportPhone").Value)</span> </p>
            <p><b>E-MAIL:</b> <span>@Html.Raw(settings.FirstOrDefault(s=>s.Key == "Email").Value)</span></p>
            <br>
            <p><b>Customer Service Times:</b></p>
            <p>@Html.Raw(settings.FirstOrDefault(s=>s.Key == "WorkDate").Value)</p>
            <br>
            <p><b>Business Development:</b></p>
            <p>
                If you have any inquiries regarding becoming a supplier, selling your brand,
                becoming an affiliate, or other matters related to business development with
                ShadesDaddy.com, please email Click To Send An Email <a href="mailto:SUPPORT@SHADESDADDY.COM"> SUPPORT@SHADESDADDY.COM </a> .
                Please only email for business-related inquires.
            </p>
            <br>
            <p>@Html.Raw(settings.FirstOrDefault(s=>s.Key == "About").Value)</p>
            <br>
        </div>
    </div>
</section>


