
@model ProductType

<div class="row">
    <div class="col-lg-4">
        <h1 class="h3 mb-4 text-gray-800">Gender <span style="color:red"> DELETE </span>  Page</h1>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Gender</th>
            <th scope="col">Created At</th>
            <th scope="col">Created By</th>
            <th scope="col">Updated At</th>
            <th scope="col">Updated By</th>
            <th scope="col">Delete</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">//</></th>
            <td>@Model.Name</td>
            <td>@Model.CreatedAt</td>
            <td>@Model.CreatedBy</td>
            <td>@Model.UpdatedAt</td>
            <td>@Model.UpdatedBy</td>
            <td><a asp-action="Delete" asp-area="manage" asp-controller="Catagory" asp-route-productTypeId="@Model.Id" class="btn btn-danger">DELETE</a></td>

        </tr>
    </tbody>
</table>

