@using FinalProjectCode.ViewModels.RegisterVM;
@model ProfileVM

<section id="my-account">
    <div class="container">
        <div class="account-info">
            <h4>ACCOUNT DETAILS</h4>
            <a asp-controller="account" asp-action="logout">LOGOUT</a>
        </div>
        <div class="account-order">
            <div class="left-account">
               <h6>@User.Identity.Name</h6>
                <h4>PRIMARY ADDRESS</h4>
				<a style="cursor:pointer" class="addAdress editAdress"><i class="far fa-edit">Add Address</i></a>
                <br />
                <div class="addressForm d-none">
                    @await Html.PartialAsync("_AddressFormPartial",new Address())
                </div>
                <hr style="width:150px">
                <div class="addressContainer">
                    @if (Model.Addresses != null && Model.Addresses.Count() > 0)
                    {
                        foreach (Address address in Model.Addresses)
                        {
                            <div class="account-address mt-30">
                                <h6 class="name">@($"{address.Country} {address.City}")</h6>
                                <p><b>Address Line:</b> @address.AddressLine</p>
                                <p><b>Postal Code:</b> @address.PostalCode </p>
                            </div>
							<br/>
                        }
                    }
                    
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">
                    Edit Profile ---> <a asp-controller="account" asp-action="profile" class="link register-ha">Go</a>
                </p>

            </div>
            <div class="vr">
            </div>
            <div class="order-history">
                <h4>ORDER HISTORY</h4>	
					<div class="account-table text-center mt-30 table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">No</th>
									<th scope="col">Date</th>
									<th scope="col">Total</th>
									<th scope="col">Status</th>
									<th scope="col">Comment</th>
								</tr>
							</thead>
							<tbody>
								@if (Model.Orders != null)
								{
									@foreach (Order order in Model.Orders)
									{
										<tr>
											<th scope="row" data-bs-toggle="collapse" data-bs-target="#demo@(order.Id)" class="accordion-toggle">@order.No</th>
											<td>@order.CreatedAt?.ToString("dd MMM yyyy")</td>
											<td class="text-success">@order.OrderItems?.Sum(o => (o.Price * o.Count))</td>
											<td>@order.Status</td>
											<td>@order.Comment</td>
										</tr>
										<tr>
											<td colspan="6" class="hiddenRow">
												@if (order.OrderItems !=null && order.OrderItems.Any())
												{
													<div class="accordion-collapse collapse" id="demo@(order.Id)">
														<table class="table">
															<thead>
																<tr>
																	<th scope="col">Name</th>
																	<th scope="col">Count</th>
																	<th scope="col">Price</th>
																	<th scope="col">Total</th>
																</tr>
															</thead>
															<tbody>
																@foreach (OrderItem orderItem in order.OrderItems)
																{
																	@if (orderItem != null && orderItem.Product != null)
																	{
																		<tr>
																			<td>@orderItem.Product.Title</td>
																			<td>@orderItem.Count</td>
																			<td>@orderItem.Price</td>
																			<td class="text-success">$@(orderItem.Price * orderItem.Count)</td>
																		</tr>
																	}
																}
															</tbody>
														</table>
													</div>
												}
											</td>
										</tr>
									}
								}
							</tbody>
						</table>
					</div>
			</div>
        </div>
    </div>
</section>
