@*@inject ILayoutServices layoutservice
@{
    IEnumerable<BasketVM> basketVMs =await layoutservice.GetBaskets();
}*@
@model IEnumerable<BasketVM>

@if (Model.Count() == 0)
{
    <section id="empty-cart">
        <div class="container">
            <div class="emptyy">
                <div class="empty-cart-full">
                    <hr>
                    <p>There are no items in your cart.</p>
                    <hr class="empty-hr">
                    <a asp-action="index" asp-controller="Shop">CONTINUE SHOPPING</a>
                </div>
            </div>
        </div>
    </section>
}


<div class="container">
    <div class="full-basket pt-5">
        <div class="basket-products">
            <div class="row">
                <div class="col-12">
                    @foreach(BasketVM basketVM in Model)
                    {
                        <div class="product-shop-info">
                            <div class="prod-img">
                                <img src="assets/photos/products/@basketVM.Image" alt="">
                            </div>
                            <div class="prod-detail">
                                <p class="prod-nm">@basketVM.Title</p>
                                <div class="option-title"></div>
                                <span class="span-red">$@basketVM.DiscountedPrice <span class="old-price">$@basketVM.Price</span></span>
                                <div class="plas-icon">
                                    <button class="minus-btn" data-id="@basketVM.Id" >-</button>
                                    <input class="basket-inp" type="text" value="@basketVM.Count">
                                    <button class="pilus-btn" data-id="@basketVM.Id" >+</button>
                                </div>
                                <p><b>Total:</b>$@(basketVM.Count * basketVM.DiscountedPrice)</p>
                            </div>
                            <div class="remove-button">
                                <button class="deleteCart" data-id="@basketVM.Id"  >Remove <i class="fa-solid fa-trash"></i></button>
                            </div>
                            <hr>
                        </div>
                        <hr>
                    }
                </div>
            </div>
        </div>
        <div class="basket-buy">
            <div class="sub-total">
                <p><b>Subtotal</b></p>
                <p><b>$@Model.Sum(b =>b.Count * b.DiscountedPrice)</b></p>
            </div>
            <div class="sub-total sav-total">
                <p>Total Savings</p>
                <p class="p-red">$@Model.Sum(b =>b.Price - b.DiscountedPrice)</p>
            </div>
            <p>Orders will be processed in USD.</p>
            <a class="send-button" asp-action="checkout" asp-controller="order" ><i class="fa-solid fa-lock"></i> CHECKOUT</a>
            <a asp-action="index" asp-controller="Shop"class="continue-shopping">CONTINUE SHOPPING</a>
        </div>
    </div>
</div>