@model ShopVM

<div class="container">
    <div class="shop-full">
        <div class="catagory-sale">
            <p>GENDER</p>
            <ul>
                @foreach (Gender gender in Model.Genders)
                {
                    <li>
                        <a class="gender-selector-btn @(gender.Id == ViewBag.genderid ? "active-for-gender" : "")" style="cursor:pointer" data-producttype-id="@ViewBag.ProductTypeId " data-id="@gender.Id">@gender.Name</a>
                    </li>
                }
            </ul>

            <p>PRODUCT TYPE</p>
            <ul>
                @foreach (ProductType productType in Model.ProductTypes)
                {
                    <li>
                        <a class="producttype-selector-btn  @(productType.Id == ViewBag.ProductTypeId ? "active-for-gender" : "")" style="cursor:pointer" data-gender-id="@ViewBag.GenderId" data-id="@productType.Id">@productType.Name</a>
                    </li>
                }
            </ul>

            <!-- With number fields -->
            <div class="filter level-filter level-req">
                <div id="rangeSlider" class="range-slider">
                    <label>Стоимость:</label>

                    <div class="number-group">
                        <input class="number-input" type="number" value="10" min="0" max="50" /> to
                        <input class="number-input" type="number" value="50" min="0" max="50" />
                    </div>

                    <div class="range-group">
                        <input class="range-input" value="10" min="1" max="50" step="1" type="range" />
                        <input class="range-input" value="50" min="1" max="50" step="1" type="range" />
                    </div>
                </div>
            </div>



        </div>
        <div class="right-sale">
            <div class="shop-selector">
                <input type="hidden" value="@ViewBag.Sortid" />
                <select  class="sortSelector">
                    <option class="sortSelector-option" value="1">Name(A-Z)</option>
                    <option class="sortSelector-option" value="2">Name(Z-A)</option>
                    <option class="sortSelector-option" value="3">Most Popular</option>
                    <option class="sortSelector-option" value="4">Lowest Price</option>
                    <option class="sortSelector-option" value="5">Highest Price</option>
                    <option class="sortSelector-option" value="6">Newest</option>
                </select>
            </div>
            <div class="refine-by">
                <span>REFINE BY</span>
            </div>
            <div class="products-all">
                <div class="container">
                    <div class="row g-4">
                        @foreach (Product product in Model.Products)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="box">
                                    <a asp-action="index" asp-controller="ProductDetail" asp-route-productid="@product.Id">
                                        <img class="img-fluid" src="~/assets/photos/products/@product.MainImage" alt="">
                                        <div class="product-detail">
                                            <p><a>@product.Title</a></p>
                                            <p>from <span class="span-red">@product.DiscountedPrice$</span> <span class="old-price">@product.Price$</span></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="pagination-sec">
    <div class="container">
        <div class="pagination p12">
            <ul>
                <a class="pagination-list" data-gender-id="@ViewBag.GenderId" style="cursor: pointer" data-producttype-id="@ViewBag.ProductTypeId" data-id="@(ViewBag.pageIndex - 1)">
                <li >Previous</li>
                </a>

                @for(var i=1; i<=ViewBag.pageCount; i++)
                {
                    <a style="cursor: pointer" class="pagination-list @(ViewBag.pageIndex == i ? "is-active" : "")" data-gender-id="@ViewBag.GenderId" data-producttype-id="@ViewBag.ProductTypeId" data-id="@i">
                       <li> @i </li>
                    </a>
                        
                }
                <a class="pagination-list" style="cursor: pointer" data-gender-id="@ViewBag.GenderId" data-producttype-id="@ViewBag.ProductTypeId" data-id="@(ViewBag.pageIndex+1)">
                <li>Next</li>
                </a>

            </ul>
        </div>
    </div>
    
</section>

