@model ShopVM

<div class="container">
    <div class="shop-full">
        <!-- catagory -->

        <div class="catagory-sale">
            <p>GENDER</p>
            <ul>
                @foreach (Gender gender in Model.Genders)
                {
                    <li>
                        <a class="gender-selector-btn @(gender.Id == ViewBag.genderid ? "active-for-gender" : "")" style="cursor:pointer" data-range-id="ViewBag.range" data-producttype-id="@ViewBag.ProductTypeId" data-gender-id="@gender.Id">@gender.Name</a>
                    </li>
                }
            </ul>

            <p>PRODUCT TYPE</p>
            <ul>
                @foreach (ProductType productType in Model.ProductTypes)
                {
                    <li>
                        <a class="producttype-selector-btn  @(productType.Id == ViewBag.ProductTypeId ? "active-for-gender" : "")" style="cursor:pointer" data-range-id="ViewBag.range" data-gender-id="@ViewBag.GenderId" data-producttype-id="@productType.Id">@productType.Name</a>
                    </li>
                }
            </ul>

        <!-- single sidebar start -->
            <div class="price-range" data-min="0" data-max="400"></div>
            <div class="slider-rng">
                <form>
                    
                    <input class="rangeInput" type="range" min="0" max="400" value="@ViewBag.range" onchange="updateRangeValue(this.value)" />
                    <output class="rangeOutput" id="rangevalue">@ViewBag.range</output>
                    <button style="background-color:#36b8ce!important" type="button" data-gender-id="@ViewBag.genderid" data-producttype-id="@ViewBag.ProductTypeId" class="btn btn-primary rangeFilter">FİLTER</button>
                </form>
            </div>
            <!-- single sidebar end -->
        </div>
        <div class="right-sale">
            <div class="refine-by">
                <span>REFINE BY</span>
            </div>
            <div class="products-all">
                <div class="container">
                    <div class="row g-4">
                        @foreach (Product product in Model.Products)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                                <div class="box">
                                    <a asp-action="index" asp-controller="ProductDetail" asp-route-productid="@product.Id">
                                        <img class="img-fluid" src="~/assets/photos/products/@product.MainImage" alt="">
                                        <div class="product-detail">
                                            <p><a>@product.Title</a></p>
                                            <p>from <span class="span-red">@product.DiscountedPrice$</span> <span class="old-price">@product.Price$</span></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pagination -->

<section id="pagination-sec">
    <div class="container">
        <div class="pagination p12">
            <ul>
                <a class="pagination-list" data-gender-id="@ViewBag.GenderId" style="cursor: pointer" data-range-id="ViewBag.range" data-producttype-id="@ViewBag.ProductTypeId" data-id="@(ViewBag.pageIndex - 1)">
                <li >Previous</li>
                </a>

                @for(var i=1; i<=ViewBag.pageCount; i++)
                {
                    <a style="cursor: pointer" class="pagination-list @(ViewBag.pageIndex == i ? "is-active" : "")" data-gender-id="@ViewBag.GenderId" data-range-id="ViewBag.range" data-producttype-id="@ViewBag.ProductTypeId" data-id="@i">
                       <li> @i </li>
                    </a>
                        
                }
                <a class="pagination-list" style="cursor: pointer" data-gender-id="@ViewBag.GenderId" data-producttype-id="@ViewBag.ProductTypeId" data-range-id="ViewBag.range" data-id="@(ViewBag.pageIndex + 1)">
                <li>Next</li>
                </a>

            </ul>
        </div>
    </div>
    
</section>